snet.sdk>=3.6.1
streamlit>=1.28.2
numpy>=1.24.3
pandas>=2.0.3
pymc>=5.10.4
plotly>=5.18.0
python-dotenv>=1.0.0
grpcio>=1.68.0
grpcio-tools>=1.59.0
protobuf>=4.21.6
fastapi>=0.104.1
scikit-learn>=1.3.2
pytest>=7.4.3
python-dateutil>=2.9.0
